.game-board {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0 auto;
  justify-content: center;
}

.game-over {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: green;
  text-align: center;
}

.game-info {
  margin-top: 20px;
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #a2a4a2;
  color: rgb(14, 13, 13);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #96ca99;
}
