.tic-tac-toe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .cell:hover {
    background-color: #e0e0e0;
  }
  
  .game-info {
    margin-top: 20px;
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #a2a4a2;
    color: rgb(11, 10, 10);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:active {
    background-color: #38798e;
  }
  